<div class="top_menu" style="text-align:center;">
  <div style="margin:20px 0 20px 0;"><%= link_to "ユーザー 一覧", admin_users_path, class: "link" %></div>
  <div style="margin:20px 0 20px 0;"><%= link_to "ジム 一覧", admin_gyms_path, class: "link" %></div>
  <div style="margin:20px 0 20px 0;"><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: "link" %></div>
</div>