@use "../global/variables" as *;

.edit_item {
  margin-top: 20px;
}

.edit_item_name {
  width: 30%;
  height: 50px;
}

.edit_item_description {
  width: 70%;
  height: 70px;
}

.update_btn {
  @include btn01(orange);
}

.update_btn:hover {
  @include btn_hover01(orange);
}

.confirm{
  text-decoration: none;
  color: black;
  float: right;
}

.confirm:hover {
  color: red;
  text-decoration: none;
  transition: .3s;
}

.confirm_no_btn{
  @include btn01(orange);
}

.confirm_no_btn:hover {
  @include btn_hover01(orange);
}

.confirm_yes_btn{
  text-decoration: none;
  color: black;
  float: right;
}

.confirm_yes_btn:hover {
  color: red;
  text-decoration: none;
  transition: .3s;
}