@use '~bootstrap/scss/bootstrap';

@use "./global/layout";
@use "./global/sideber";
@use "./global/variables";
@use "./public/top";
@use "./public/users_show";
@use "./public/timeline";
@use "./public/training_record_new";
@use "./public/users_edit";
@use "./public/training_record_show";
@use "./public/user_index";

* {
  margin: 0;
  padding: 0;
  box-sizing: box;
}

