@use '~bootstrap/scss/bootstrap';

@use "./global/layout";
@use "./global/sideber";
@use "./public/top";
@use "./public/show";
@use "./public/timeline";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user_name {
    font-size: 160%;
  }

