<% if user.is_active %>
  <p>
    <%= link_to "退会させる", admin_user_path(user, user: { is_active: !user.is_active }), method: :patch, remote: true, data: {"turbolinks" => false} , class: "btn btn-danger" %>
  </p>
  <% else %>
  <p>
    <%= link_to "復活させる", admin_user_path(user, user: { is_active: !user.is_active }), method: :patch, remote: true, data: {"turbolinks" => false} , class: "btn btn-primary" %>
  </p>
<% end %>